<!-- templates-->
<script id="tmpl-Dashboard" type="text/html">
<div class="panel dashboard">
    <div class="panel-header">
        <div class="panel-header-content">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="panel-main">
        <div class="panel-main-content">
            <div class="dashboard-section">
                <div class="dashboard-item todos" data-panel="TodosPanel">Todos</div>
                <div class="dashboard-item tags"  data-panel="TagsPanel">Tags</div>
            </div>
            <div class="dashboard-section">
                <div class="dashboard-item">Search</div>
                <div class="dashboard-item">Settings</div>
            </div>
        </div>
    </div>
</div>
</script>
<!-- /templates -->