<!-- templates-->
<script id="tmpl-Dashboard" type="text/html">
<div class="panel dashboard">
    <div class="panel-header">
        <div class="panel-header-content">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="panel-main">
        <div class="panel-main-content">
            <div class="dashboard-section">
                <div class="dashboard-item today" data-panel="Today">
                    Today
                    <span class="ico icoGo"></span>
                </div>
                <div class="dashboard-item todos" data-panel="TodosPanel">
                    Todos
                    <span class="ico icoGo"></span>
                </div>
                <div class="dashboard-item tags" data-panel="TagsPanel">
                    Tags
                    <span class="ico icoGo"></span>
                </div>
            </div>
            <div class="dashboard-section">
                <div class="dashboard-item" data-panel="SearchPanel">Search</div>
                <div class="dashboard-item">Settings</div>
            </div>
        </div>
    </div>
</div>
</script>
<!-- /templates -->