<!-- templates-->
<script id="tmpl-DialogTag" type="text/html">
	<div class="dialog">
		<div class="dialog-header">
			<h1 class="appText">Create a New Tag</h1>
		</div>
		<div class="dialog-content">
            <input name="id" type="hidden" value="${id}" />
            <div class="dialogItem">
                <input name="name" type="text" value="${name}" />
            </div>
        </div>
		<div class="dialog-bottom">
            <div class="action">
                <div class="btn cancel" >Cancel</div>
                <div class="btn ok" >OK</div>
            </div>
        </div>
	</div>
</script>
<!-- /templates -->
