<!-- templates-->
<script id="tmpl-ListSelect" type="text/html">
	<div class="panel listSelect" data-value="">
        <div class="panel-header">
            <div class="panel-header-content">
                <div class="button left cancel">Cancel</div>
                <div class="button right done">Done</div>
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="panel-main">
            <div class="panel-main-content">
                   <div class="items">
                       {{#each items}}
                           <div class="item" data-value="{{value}}" data-label="{{label}}">
                           	<span class="itemLabel">{{label}}</span>
                           	<span class="ico icoSelected"></span>
                           	</div>
                       {{/each}}
                   </div>
            </div>
        </div>
    </div>
</script>
<!-- /templates -->
