<!-- templates-->
<script id="tmpl-Tag" type="text/html">
	<div class="tagsPanel">
        <div class="tagsContainer">
    		<div class="tagsPanel-header">
                <div class="action add">Add</div>
                <div class="action edit">Edit</div>
    			<div style="clear:both"></div>
    		</div>
    		<div class="tagsPanel-content">
    		    <div class="tag all" data-obj_id="">
                    <div class="tagName"> 
                       <span class="action filterTodo" >ALL</span>
                    </div>    
                </div>
    			{{each tags}}
    				<div class="tag" data-obj_id="${id}">
    				  <div class="tagAction preDelete ico icoDelete"></div>	
    				  <div class="tagAction delete btn btnDelete">Delete</div>	
    				  <div class="tagName"> 
    					 <span class="action filterTodo" >${name}</span>
    				  </div>	
    				</div>
    			{{/each tags}}
    		</div>
    	</div>
	</div>
</script>
<!-- /templates -->
