<!-- templates-->
<script id="tmpl-TagsPanel" type="text/html">
	<div class="panel tagsPanel">
        <div class="panel-header">
            <div class="panel-header-content">
                <div class="button add">Add</div>
                <div class="button edit">Edit</div>
                <h1>Tags</h1>
            </div>
        </div>
        <div class="panel-main">
            <div class="panel-main-content">
                   <div class="tagsList">
                       <div class="tagsList-content dataList">
                            {{each tags}}
                                <div class="tag dataListItem" data-obj_id="${id}">
                                  <div class="tagAction preDelete ico icoDelete"></div> 
                                  <div class="tagAction delete btn btnDelete">Delete</div>  
                                  <div class="tagName"> 
                                     <span class="action filterTodo" >${name}</span>
                                  </div>    
                                </div>
                            {{/each tags}}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</script>
<!-- /templates -->
