<!-- templates-->
<script id="tmpl-todoApp_SearchPanel" type="text/html">
	<div class="panel todoApp_searchPanel">
        <div class="panel-header">
            <div class="panel-header-content">
                <h1>Search</h1>
            </div>
        </div>
        <div class="panel-main">
            <div class="panel-main-content">
                   <div class="searchTop">
                       <div class="textInput">
                           <input type="text" name="searchName" autofocus value="{{name}}" placeholder="Search" />
                           <span class="ico icoSearch"></span>
                       </div>
                   </div>
                   <div class="searchList">
                       {{#notEqual list.length 0}}
                            {{{tmpl "#tmpl-todoApp_SearchPanel-dataList" list}}}
                        {{else}}
                            {{{tmpl "#tmpl-todoApp_SearchPanel-emptyList" }}}
                        {{/notEqual}}
                    </div>
            </div>
        </div>
    </div>
</script>
<script id="tmpl-todoApp_SearchPanel-item" type="text/html">
    <div class="item dataListItem spItem" data-obj_id="{{id}}" data-obj_type="{{type}}">
        <span class="icoLeft ico {{#equal type "Todo"}}icoTask{{else}}icoTag{{/equal}}"></span>
        <div class="item-name">
            {{#equal type "Tag"}}
                {{name}}
            {{else}}
                {{taskName}}
            {{/equal}}
        </div>
        <span class="ico icoGo"></span>    
    </div>
</script>
<script id="tmpl-todoApp_SearchPanel-dataList" type="text/html">
    <div class="searchList-content dataList spItems">
        {{#each this}}
            {{{tmpl "#tmpl-todoApp_SearchPanel-item" this}}}
        {{/each}}
    </div>
</script>
<script id="tmpl-todoApp_SearchPanel-emptyList" type="text/html">
    <div class="emptyDataList">
        <div class="label">No Items.</div>
    </div>
</script>
<!-- /templates -->
