<!-- templates-->
<script id="tmpl-TodoUpdate" type="text/html">
<div class="panel todoUpdate">
    <div class="panel-header">
        <div class="panel-header-content">
            <h1>Task Detail</h1>
        </div>
    </div>
    <div class="panel-main">
        <div class="panel-main-content">
            <div class="hiddenArea">
                <input type="hidden" name="id" value="{{id}}" />
            </div>
            <div class="dataList todoProps">
                <div class="dataListItem todoPropItem">
                    <div class="item-label">{{taskName}}</div>
                    <div class="item-value"></div>
                </div>
                <div class="dataListItem todoPropItem">
                    <div class="item-label">Created</div>
                    <div class="item-value">{{createDate}}</div>
                </div>
                <div class="dataListItem todoPropItem dateItem startDate" data-value="{{startDate}}">
                    <div class="item-label">Start Date</div>
                    <div class="item-value">{{startDate}}</div>
                </div>
                <div class="dataListItem todoPropItem dateItem endDate" data-value="{{endDate}}">
                    <div class="item-label">End Date</div>
                    <div class="item-value">{{#if endDate}} {{endDate}} {{else}} No End Date {{/if}}</div>
                </div>
                <div class="dataListItem todoPropItem statusItem">
                    <div class="item-label">Completed</div>
                    <div class="item-value">
                        <span class="label">{{getConstant "TodoStatus" status}}</span>
                        <span class="flipItem"></span>
                    </div>
                </div>
                <div class="dataListItem todoPropItem repeatItem" data-value="{{repeat}}">
                    <div class="item-label">Repeat</div>
                    <div class="item-value">
                        <span class="text">{{getConstant "TodoRepeat" repeat}}</span>
                    </div>
                </div>
                <div class="dataListItem todoPropItem tagsItem" data-value="{{{arrayToString tags "id"}}}">
                    <div class="item-label">Tags</div>
                    <div class="item-value">
                        {{{arrayToString tags "name"}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<!-- /templates -->