<!-- templates-->
<script id="tmpl-TodosPanel" type="text/html">
<div class="panel todosPanel">
    <div class="panel-header">
        <div class="panel-header-content">
            <div class="button add"><span class="ico icoAdd"></span></div>
            <h1>Todos</h1>
        </div>
    </div>
    <div class="panel-main">
        <div class="panel-main-content">
            <div class="taskTitle">Tasks</div>
            <div class="todosList">
                <div class="todosList-content dataList">
                    {{#each todos}}
                        <div class="todo dataListItem" data-obj_name="{{taskName}}" data-obj_id="{{id}}">
                          <div class="todoAction preDelete ico icoDelete"></div>    
                          <div class="todoAction delete btn btnDelete">Delete</div> 
                          <div class="todoInfo">
                              <div class="todoTitle"> 
                                  <span>{{taskName}}</span>
                              </div> 
                              <div class="todoDes">
                                 <div class="todoDes-item"><span class="text">Status: </span> <span class="value">{{getConstant "TodoStatus" status}}</span></div> 
                                 <div class="todoDes-item"><span class="text">End Date: </span> <span class="value">{{endDate}}</span></div> 
                              </div> 
                          </div>
                          <span class="ico icoGo"></span>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<!-- /templates -->