.ico{
	float:left;
	height:24px;
	width:24px;
	display:block;
	background-image:url('images/icons.png');
}

.icoDelete{
  .transition-seconds(.25s);
	background-position: -52px -14px;
}

.icoDelete.rotate{
  .transition-seconds(.25s);
	-webkit-transform: rotate(90deg);
}

.icoAdd{
	background-position: -17px -14px;
}

.icoSelected{
	background-position: -120px -14px;
}

.icoGo{
	background-position: -148px -14px;
	margin:6px;
	float:right;
}
.icoEmpty{
  background:none;
	margin:6px;
	float:right;
}