/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}

html,body{
	background: #23252f;
	width:100%;
	height:100%;
	font-family: Helvetica Neue;
}

a{color:#006600;}
a:link{ text-decoration: none;color:#006600;}
a:active{ text-decoration:blink}
a:hover{ text-decoration:underline;color: red;cursor:pointer} 
a:visited{ text-decoration: none;}
/* -- /main --*/
#page{
	width:100%;
	height:100%;
}

#transparentScreen{
	position: absolute;
    left:0;right:0;top:0;bottom:0;
    z-index: 1;
}

#notTransparentScreen{
	position: absolute;
    left:0;right:0;top:0;bottom:0;
    z-index: 3;
    background-color:rgba(0,0,0,.4);
}

.btnDelete{
	display: none;
	top:7px;
	right:5px;
	padding:5px 8px;
	font-size:12px;
	color:#ffffff;
	border-radius:6px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#CD6B74), to(#b01825), color-stop(0.5,#BA3843),color-stop(0.5,#B01825));
	font-weight:bold;
}

/* -- panel --*/
.panel{
	position:relative;
	height:100%;
	border-left:1px solid #3e3e3e;
}
.panel .panel-header{
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#6a6a6a), to(#000000), color-stop(0.5,#2d2d2d),color-stop(0.5,#000000));
    height:50px;
    line-height:50px;
    border-top:1px solid #8a8a8a;
    border-bottom:1px solid #1c1c1c;
}
.panel .panel-header-content{
	position:relative;
    height:100%;
}
.panel .panel-header-content h1{
	text-align:center;
	color:#ffffff;
	font-weight: bold;
}
.panel .panel-header-content .button{
    height:30px;
    line-height:30px;
    margin: 9px 0 0 0;
    padding: 0px 10px;
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#6a6a6a), to(#000000), color-stop(0.5,#2d2d2d),color-stop(0.5,#000000));
    border-radius:5px;
    color:#ffffff;
    cursor:pointer;
    border:1px solid #232323;
    border-bottom:1px solid #4f4f4f;
    float:right;
}
.panel .panel-main{
	margin-top:50px;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    background-color: #f2efe0;
}
.panel .panel-main-content{
	position:relative;
    height:100%;
    overflow:auto;
}
/* -- /panel --*/

/* -- dataList --*/
.dataList{
	margin: 3px 5px;
	border-radius:6px;
	background-color:#fbf3e8;
	border:1px solid #c5c3bd;
}
.dataList .dataListItem{
	border-top:1px solid #c5c3bd;
}
.dataList .dataListItem:first-child{
	border-top:0px;
}
/* -- /dataList --*/

