/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}

html,body{
	background: #333333;
	width:100%;
	height:100%;
	font-family: Helvetica Neue;
}

a{color:#006600;}
a:link{ text-decoration: none;color:#006600;}
a:active{ text-decoration:blink}
a:hover{ text-decoration:underline;color: red;cursor:pointer} 
a:visited{ text-decoration: none;}
/* -- /main --*/
#page{
	width:100%;
	height:100%;
}
.mainScreen{
	position: absolute;
    left:0;right:0;top:0;bottom:0;
}
.mainScreen .mainScreen-header{
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#949494), to(#707070), color-stop(0.5,#525252),color-stop(0.5,#545252));
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ffffff;
}
.mainScreen .mainScreen-header-content{
    position:relative;
    height:100%;
}
.mainScreen .mainScreen-header-content h1{
	text-align:center;
	color:#B7B9B8;
	font-weight: bold;
}
.mainScreen .mainScreen-header-content .button{
    height:30px;
    line-height:30px;
    margin: 10px 0 0 0;
    padding: 0px 10px;
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#525252), to(#404040), color-stop(0.5,#292929),color-stop(0.5,#292828));
    border-radius:5px;
    color:#ffffff;
    cursor:pointer;
}
.mainScreen .mainScreen-header-content .button.tag{
    float: left;
    margin-left:10px;
}
.mainScreen .mainScreen-header-content .button.addTodo{
    float: right;
    margin-right:10px;
}

.mainScreen .mainScreen-header-content .button:hover{
}

.mainScreen .mainScreen-main{
    margin-top:50px;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    background-color: #333333;
}


#transparentScreen{
	position: absolute;
    left:0;right:0;top:0;bottom:0;
    z-index: 1;
}

#notTransparentScreen{
	position: absolute;
    left:0;right:0;top:0;bottom:0;
    z-index: 3;
    background-color:rgba(0,0,0,.4);
}
