.searchPanel .searchTop{
  min-height:60px;
  background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#fbfbfb), to(#cacaca));
  padding:25px 0 0 0;
}
.searchPanel .searchTop .textInput{
  text-align:center;
}
.searchPanel .searchTop input[type='text']{
  height:25px;
  width:80%;
  .rounded-corners(15px);
}
.searchPanel .searchTop .btn.search{
  display:inline-block;
  padding:3px 10px;
  background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#cbcbcb), to(#5e5e5e));
  .rounded-corners(15px);
  cursor:pointer;
  font-size:13px;
  color:#525252;
}
.searchPanel .searchList{
}
.searchPanel .searchList .dataList{
  margin:0;
  .rounded-corners(0px);
}
.searchPanel .searchList .dataList .item{
  .rounded-corners(0px);
}
.searchPanel .searchList .searchList-content .item{
	min-height: 40px;
	overflow: hidden;
	position: relative;
}

.searchPanel .searchList .searchList-content .item .icoLeft{
  display:inline-block;
	margin: 10px 10px 0 10px;
	
}

.searchPanel .searchList .searchList-content .item .item-name{
  display:inline-block;
	margin: 10px 0px 0 0px;
}
