.tagsPanel{
	position:absolute;
	left:10px;
	top:60px;
	z-index: 2;
	width:40%;
	min-width:300px;
	max-width:400px;
}
.tagsPanel.has-canvas{
	padding:20px 0 0 0;
}
.tagsPanel .tagsPanelArrow{
	display:none;
}
.tagsPanel .tagsPanelArrow.has-canvas{
	display:block;
	position:absolute;
	top:0;left:0;
	height:23px;
	width:100%;
}
.tagsPanel .tagsContainer{
	border-radius:6px;
	background-color:#09101d;
	border:1px solid #000000;
	box-shadow:1px 1px 5px 0px #000000,
				-1px -1px 5px 0px #000000;
}
.tagsPanel .tagsPanel-header{
	height:40px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#5f6576), to(#09101d), color-stop(0.5,#222b3d),color-stop(0.5,#09101d));
	border-top:1px solid #9ca0aa;
}
.tagsPanel .tagsPanel-header .action{
	float:right;
	height:30px;
    line-height:30px;
    display:inline-block;
    margin: 3px 5px 0 0;
    padding: 0px 10px;
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#5f6576), to(#09101d), color-stop(0.5,#222b3d),color-stop(0.5,#09101d));
    border-radius:5px;
    color:#ffffff;
    cursor:pointer;
    border:1px solid #24272b;
    border-bottom:1px solid #62666f;
}
.tagsPanel .tagsPanel-content{
	border-radius:4px;
	background:#dcdfe5;
	margin:0px 8px 8px 8px;
	padding:12px;
}
.tagsPanel .tagsPanel-content .tags{
	background:#ffffff;
	border-radius: 4px;
	border:1px solid #bbbbbb;
}
.tagsPanel .tagsPanel-header .action.press{
    background:-webkit-gradient(linear, left bottom, left top, 
			color-stop(0, #79b6ef),
			color-stop(0.48, #377dcf), 
			color-stop(0.49, #4e89ca),
			color-stop(1.00, #b4c9e2) );
    color:#c3c3c3;
}
.tagsPanel .tag{
	height:40px;
	font-size:14px;
	min-width:50px;
	cursor: pointer;
	position: relative;
	border-bottom:1px solid #bbbbbb;
}
.tagsPanel .tag:first-child{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.tagsPanel .tag:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom:0px;
}
.tagsPanel .tag *{
	cursor:pointer;
}
.tagsPanel .tag:hover{
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#058BF5), to(#0160e6));
}
.tagsPanel .tag.editMode{
	cursor:default;
	background:none;
}
.tagsPanel .tag.editMode *{
	cursor:default;
}

.tagsPanel .tag .tagName{
	float:left;
	padding:0 10px 0 35px;
	line-height:40px;
	max-width:100px;
	font-weight: bold;
	overflow:hidden;
}

.tagsPanel .tag .tagAction.icoDelete{
	position:absolute;
	top:8px;
	left:3px;
}
.tagsPanel .tag .tagAction.btnDelete{
	position:absolute;
}