.todosPanel{
	margin:5px;
}
.todosPanel .tagName{
	float:left;
}
.todosPanel .tagAction{
	margin-right:40px;
	width:40px;
	float:right;
}
/*.todosPanel .todosPanel-header h1{
	color:#B7B9B8;
	font-weight: bold;
}
.todosPanel .todosPanel-header .action{
	float:right;
	background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#525252), to(#404040), color-stop(0.5,#292929),color-stop(0.5,#292828));
	color:#ffffff;
	padding:5px 10px;
	border-radius:6px;
	border:1px solid #3D3D3D;
}*/

.todosPanel .todosPanel-content{
	background-color:#FFFFFF;
}
.todosPanel .todosPanel-content .todo{
	border: solid 1px #ececec;
	min-height: 58px;
	overflow: hidden;
	padding: 2px 10px 0 20px;
	position: relative;
}
.todosPanel .todoInfo{
	float:left;
	width:90%;
}
.todosPanel .todoAction{
	float:right;
	text-align:center;
	cursor: pointer;
}

.todosPanel .todoInfo .title{
	margin-bottom: 5px;
}
.todosPanel .todoInfo .title a{
	font-size: 18px;
	color: #006600;
	margin-bottom: 5px;
	font-weight: bold;
}
.todosPanel .todoInfo .text{
	color: #000000;
	font-size:16px;
}
.todosPanel .todoInfo .value{
	color: #006600;
	font-size: 18px;
}
.todosPanel .todoInfo .addTag{
	font-size: 14px;
	display:inline-block;
	width:40px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#525252), to(#404040), color-stop(0.5,#292929),color-stop(0.5,#292828));
	margin:0 0 0 5px;
	border-radius:5px;
}
.todosPanel .todoInfo .addTag .ico{
	margin:0 0 0 8px;
}
.todosPanel .todoInfo .value.tag{
	background-color:rgba(38,38,38,.4);
	float:left;
	min-width:30px;
	height:24px;
	line-height:24px;
	padding:0 10px;
	color: #ffffff;
	cursor:pointer;
	border-radius:5px;
	margin:0 5px 5px 5px;
}
.todosPanel .todoInfo .tagText{
	float:left;
}



