.todosPanel .todosList{
	margin:5px;
}
.todosPanel .todosList .tagName{
	float:left;
}
.todosPanel .todosList .tagAction{
	margin-right:40px;
	width:40px;
	float:right;
}

.todosPanel .todosList .todosList-content{
}
.todosPanel .todosList .todosList-content .todo{
	min-height: 58px;
	overflow: hidden;
	padding: 2px 10px 0 30px;
	position: relative;
}
.todosPanel .todosList .todoAction{
	cursor: pointer;
	position:absolute;
}
.todosPanel .todosList .todoAction.icoDelete{
	top:5px;
	left:3px;
}
.todosPanel .todosList .todoAction.btnDelete{
}

.todosPanel .todosList .todoInfo{
}
.todosPanel .todosList .todoInfo .title{
	margin-bottom: 5px;
}
.todosPanel .todosList .todoInfo .title a{
	font-size: 18px;
	color: #037CB4;
	margin-bottom: 5px;
	font-weight: bold;
}
.todosPanel .todosList .todoInfo .text{
	color: #000000;
	font-size:16px;
}
.todosPanel .todosList .todoInfo .value{
	color: #037CB4;
	font-size: 18px;
}
.todosPanel .todosList .todoInfo .addTag{
	font-size: 14px;
	display:inline-block;
	width:30px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#6a6a6a), to(#000000), color-stop(0.5,#2d2d2d),color-stop(0.5,#000000));
	margin:0 0 0 5px;
	border-radius:5px;
}
.todosPanel .todosList .todoInfo .addTag .ico{
	margin:0 0 0 3px;
	cursor: pointer;
}
.todosPanel .todosList .todoInfo .value.tag{
	background:rgba(63,63,63,.6);
	float:left;
	min-width:10px;
	height:24px;
	line-height:24px;
	padding:0 10px;
	color: #ffffff;
	cursor:pointer;
	border-radius:5px;
	margin:0 5px 5px 5px;
	text-align:center;
}
.todosPanel .todosList .todoInfo .tagText{
	float:left;
}



