
<script type="text/javascript">
(function($){
    brite.registerComponent("DialogTag",{
        parent:"#page"
    },function(){
        return new todoApp.DialogTag();
    }); 
})(jQuery);
</script>

<!-- templates-->
<script id="tmpl-dialogTag" type="text/html">
	<div class="dialog">
		<div class="dialog-header">
			<div class="button ok">X</div>
			<h1 class="appText">Update Tag</h1>
		</div>
		<div class="dialog-content">
			<div id="updateTag">
					<input name="id" type="hidden" value="${id}" />
					<div class="dialogItem">
						<div class="dialogItem-label">Name:</div>
						<div class="dialogItem-value">
							<input name="name" type="text" value="${name}" />
						</div>
					</div>

					<div class="action">
							<div class="btn save" >save</div>
					</div>
			</div>
		</div>
	</div>
</script>
<!-- /templates -->
