<!-- MainScreen Component -->
<script type="text/javascript">
(function($){
    brite.registerComponent("MainScreen",{
        parent: "#page",
        emptyParent: true
    },function(){
        return new todoApp.MainScreen();
    }); 
})(jQuery);
</script>
<!--  /MainScreen Component -->


<script id="tmpl-MainScreen" type="text/html">
<div class="mainScreen">
	<div class="mainScreen-header">
        <div class="mainScreen-header-content">
                <div class="button tag">Tags</div>
                <div class="button addTodo">Add Todo</div>
                <h1>Todos</h1>
        </div>
    </div>
    <div class="mainScreen-main">
        
    </div>
</div>
</script>

