
<script type="text/javascript">
(function($){
    brite.registerComponent("Tag",{
        parent: "#page"
    },function(){
        return new todoApp.Tag();
    }); 
})(jQuery);
</script>

<!-- templates-->
<script id="tmpl-tag" type="text/html">
	<div class="tagsPanel">
        <div class="tagsContainer">
    		<div class="tagsPanel-header">
                <div class="action add">Add</div>
                <div class="action edit">Edit</div>
    			<div style="clear:both"></div>
    		</div>
    		<div class="tagsPanel-content">
    		    <div class="tag all" data-obj_id="">
                    <div class="tagName"> 
                       <span class="action filterTodo" >ALL</span>
                    </div>    
                </div>
    			{{each tags}}
    				<div class="tag" data-obj_id="${id}">
    				  <div class="tagName"> 
    					 <span class="action filterTodo" >${name}</span>
    				  </div>	
    				  <div class="tagAction"><span class="delete ico icoDelete"></span></div>	
    				</div>
    			{{/each tags}}
    		</div>
    	</div>
	</div>
</script>
<!-- /templates -->
