
<script type="text/javascript">
(function($){
    brite.registerComponent("Tag",{
        parent: "#tagContainer"
    },function(){
        return new todo.Tag();
    }); 
})(jQuery);
</script>

<!-- templates-->
<script id="tmpl-tag" type="text/html">
	<div class="panel">
		<div class="panel-header">
			<button class="action add">Add Tag</button>
			<h1>Tags</h1>
		</div>
		<div class="panel-content">
			{{each tags}}
				<div style="height:30px" data-obj_id="${id}">
				  <div class="tagName"> 
					 <span class="action filterTodo" ><a>${name}</a></span>
				  </div>	
				  <div class="tagAction"><span class="edit" ><a>Edit</a></span>&nbsp;<span class="pointer blueText delete"><a>Del</a></span></div>	
				</div>
			{{/each tags}}
		</div>
	</div>
</script>
<!-- /templates -->
